$citnDefaultColor:#5d5e61;
$citnBorderDefaultColor:1px solid #cfd1d4;
$citnSimpleDefaultColor:#ffffff;

$citnPrimaryColor:#4ba3fd;
$citnBorderPrimaryColor:1px solid #4ba3fd;
$citnSimplePrimaryColor:#e1ecf7;

$citnSuccessColor:#73ce45;
$citnBorderSuccessColor:1px solid #73ce45;
$citnSimpleSuccessColor: #eaf5e5; 

$citnInfoColor:#8c9096;
$citnBorderInfoColor:1px solid #8c9096;
$citnSimpleInfoColor:#eeefef;


$citnWarningColor:#e6ab52;
$citnBorderWarningColor:1px solid #e6ab52;
$citnSimpleWarningColor:#f7eee2;

$citnDangerColor:#f77373;
$citnBorderDangerColor:1px solid #f77373;
$citnSimpleDangerColor:#fbeded;



// toast
$backgroundSuccess:#cee5fd;
$colorSuccess:#649bd3;

$backgroundInfo:#dff3d4;
$colorInfo:#41bb1b;

$backgroundWarning:#fbf6ef;
$colorWarning:#e4ba7b;

$backgroundError:#fff4f4;
$colorError:#f17e7e;

$backgroundLoading:#f7f7f9;
$colorLoading:#b3acac;